apiVersion: gpte.opentlc.com/v1
kind: Gitea
metadata:
  name: "{{ gitea_name }}"
spec:
  giteaImage: "{{ gitea_image }}"
  giteaImageTag: "{{ gitea_image_tag }}"
  giteaVolumeSize: "{{ gitea_volume_size }}"
  postgresqlVolumeSize: "{{ gitea_postgresql_volume_size }}"
  giteaSsl: "{{ gitea_ssl_route }}"
{% if gitea_route | default("") | length > 0 %}  
  giteaRoute: "{{ gitea_route }}"
{% endif %}
