[all:vars]

tekton_namespace=

threescale_admin_portal=
threescale_access_token=

threescale_apicast_namespace=
threescale_apicast_staging=
threescale_apicast_production=
threescale_apicast_port=

threescale_metadata=3scale/3scale.json
openapi_spec_document=openapi-spec.json
openshift_route_template=openshift/route.json
