kind: Secret
apiVersion: v1
metadata:
  name: {{ threescale_provider_account_secret }}
stringData:
  adminURL: https://{{ threescale_admin_portal }}
  token: {{ threescale_access_token }}
type: Opaque