kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ tekton_eventlistener_configure_api_route }}
  labels:
    app.kubernetes.io/managed-by: EventListener
    app.kubernetes.io/part-of: Triggers
    eventlistener: {{ tekton_eventlistener_configure_api }}
spec:
  to:
    kind: Service
    name: {{ tekton_eventlistener_configure_api_service }}
    weight: 100
  port:
    targetPort: http-listener
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: None
  wildcardPolicy: None
