apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: {{ tekton_pipeline_threescale_configure_api }}
spec:
  params:
    - name: gitUrl
      description: git url to clone
      type: string
    - name: gitRevision
      description: 'git revision to checkout (branch, tag, sha, ref…)'
      type: string
    - name: threescaleMetadata
      description: 3scale metadata file name
      type: string
    - name: threescaleProviderAccountRef
      description: Secret with 3scale API Manager connection details
      type: string
    - name: openshiftRouteTemplate
      description: OpenShift API Gateway Route template
      type: string
    - name: apicastNamespace
      description: Namespace for Apicast gateways 
      type: string
    - name: apicastServicePort
      description: Apicast service proxy port
      type: string
    - name: apicastServiceStaging
      description: Staging Apicast gateway service name 
      type: string
    - name: apicastServiceProduction
      description: Production Apicast gateway service name
      type: string
    - name: openapiSpecDocument
      description: OpenAPI Spec Document
      type: string
    - name: serviceRegistryURL
      description: Service Registry URL
      type: string
    - name: serviceRegistryMetadata
      description: Service Registry metadata file name
      type: string
    - name: serviceRegistryTokenUrl
      description: Service Registry Token Endpoint URL
      type: string
  tasks:
    - name: git-clone
      params:
        - name: url
          value: $(params.gitUrl)
        - name: revision
          value: $(params.gitRevision)
      taskRef:
        kind: ClusterTask
        name: git-clone
      workspaces:
        - name: output
          workspace: output
    - name: threescale-create-resources
      params:
        - name: threescaleMetadata
          value: $(params.threescaleMetadata)
        - name: threescaleProviderAccountRef
          value: $(params.threescaleProviderAccountRef)
        - name: openshiftRouteTemplate
          value: $(params.openshiftRouteTemplate)
        - name: apicastNamespace
          value: $(params.apicastNamespace)
        - name: apicastServicePort
          value: $(params.apicastServicePort)
        - name: apicastServiceStaging
          value: $(params.apicastServiceStaging)
        - name: apicastServiceProduction
          value: $(params.apicastServiceProduction)
        - name: apicastStagingRouteManifest
          value: apicast-staging-route.json
        - name: apicastProductionRouteManifest
          value: apicast-production-route.json
      runAfter:
        - git-clone
      taskRef:
        kind: Task
        name: {{ tekton_task_threescale_configure_api }}
      workspaces:
        - name: source
          workspace: output
    - name: service-registry-import-openapi
      params:
        - name: serviceRegistryURL
          value: $(params.serviceRegistryURL)
        - name: openapiSpecDocument
          value: $(params.openapiSpecDocument)
        - name: serviceRegistryMetadata
          value: $(params.serviceRegistryMetadata)
        - name: serviceRegistryTokenUrl
          value: $(params.serviceRegistryTokenUrl)
      runAfter:
        - git-clone
      taskRef:
        kind: Task
        name: {{ tekton_task_import_service_registry }}
      workspaces:
        - name: source
          workspace: output
        - name: registry-secret
          workspace: registry-secret
  workspaces:
    - name: output
    - name: registry-secret